.displayBlock{
    display: block !important;
}

/* .inputCombine{
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 0;
}

.goalWrap{
    margin: 0 5%;
}

.recomendation{
    border: 2px solid #1aa4a3;
    border-radius: 4%;
    padding:  5% 5%;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 20%;
}

select{
    background-color: white;
}

.recomendation h4{
    margin: 3% 0;
}


@media only screen and (max-width: 600px) {
    input[type="text"],input[type="password"],input[type='email'],input[type='tel'],input[type='number'],select{
        width: 100%;
        height: unset;
        margin-top: unset;
        
    }

    .inputCombine{
        margin-top: 3vh;
        height: 7vh;
    }

  } */