#timerWrap{
    text-align: center;
    width:70%;
    margin-left: auto;
    margin-right:auto;
}

.timerSection{
    height:17vh;
}

.timerSection h1{
    margin-bottom: 1vh;
}
.timerSection p{
    font-size: 2rem;
    margin-top: 0px;
    padding-bottom: 4vh;
    border-bottom: 2px #1aa4a3 solid;
}

img{
    margin-top: 4vh;
}
